/* header's details */
header {
  display: flex;
  /* push left and right items to edges ad place things in the middle */
  justify-content: space-between;
  /* center whatever is in the header */
  align-items: center;
  /* fixed position of navigation */
  position: fixed;
  /* set navigation dimensions */
  left: 0;
  right: 0;
  top: 0px;
  height: 60px;
  width: 100%;
  /* set the background color of header */
  background-color: #e2eafc;
}
/* set body's background color */
body{
  background-color: #fbfefb;
}
/* list of tabs details */
.navigation-tabs li{
  /* side by side tabs */
  display: inline-block;
  margin-left: 220px;
  color: #00509d;
}
/* change color of link when mouse is on top */
.navigation-tabs li a:hover{
  color: #bc8a5f;
}
/* details of casts' list */
.cast-names li{
  /* side by side tabs */
  display: inline-block;
  /* center whatever is in the header */
  align-items: center;
  /* push left and right items to edges ad place things in the middle */
  justify-content: space-between;
}
/* size of images */
img{
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
/* color and font of headings */
h3{
  font-family: "Bungee Shade";
  color: #bc8a5f;
}
/* color and font of headings */
h2{
  font-family: "Bungee Shade";
  color: #004e89;
}
/* font, size and color of paragraphs */
p{
  font-family: "Blinker";
  font-size: 20px;
  color: #432818;
}
/* paragraph details */
.page1-paragraph{
padding: 8px;
margin: 25px;
background-color: #edf2fb;
border-radius: 10px;
font-family: "Blinker";
font-size: 20px;
color: #6f4518;
margin-left: -25px;
}
/* change color of link when mouse is over it */
a:hover{
  color: #bc8a5f;
}
/* color and font of links */
a{
  font-family: "Blinker";
  color: #603808;
}
/* video position */
video.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;

}
/* title position */
title.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* name of cast, title details */
.yasmin-name{
  width:300px;
  text-align:center;
  display:block;
  background-color: #FADBD8;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: -30px;
}
/* details of cast description */
.yasmin-font{
  color: #c30011;
  margin-left: -30px;
  font-size: 20px;
  padding: 8px;
  margin: 25px;
  background-color: #FADBD8;
  border-radius: 10px;
}
/* name of cast, title details */
.tina-name{
  width:300px;
  text-align:center;
  display:block;
  background-color: #F2F3F4;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: -30px;
}
/* details of cast description */
.tina-font{
  color: #403d39;
  margin-left: -30px;
  font-size: 20px;
  padding: 8px;
  margin: 25px;
  background-color: #F2F3F4;
  border-radius: 10px;
}
/* name of cast, title details */
.maya-name{
  width:300px;
  text-align:center;
  display:block;
  background-color: #E8DAEF;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: -30px;
}
/* details of cast description */
.maya-font{
  color: #6a4c93;
  margin-left: -30px;
  font-size: 20px;
  padding: 8px;
  margin: 25px;
  background-color: #E8DAEF;
  border-radius: 10px;
}
/* font size for title */
.title-font1{
  font-size: 30px;
}
/* font size for title */
.title-font2{
  font-size: 15px;
}
/* font size for title */
.title-font3{
  font-size: 20px;
}
/* image's characteristics */
.flags{
    height: 100px;
    margin-right: 60px;
    display: inline-block;
}
/* icon's size and position from margin */
.icons{
  height: 200px;
  margin-left: -30px;
}
/* simple dashes'characteristics */
.dashes{
  font-family: "Blinker";
  font-size: 30px;
  color: #583101;
}
/* simple dashes'characteristics */
.dashes-page{
  font-family: "Blinker";
  font-size: 30px;
  color: #583101;
  margin-left: -40px;
}
/* image's characteristics */
.stat-pic{
  /* size of images */
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
/* paragraph characteristics */
.paragraph-about1{
  padding: 8px;
  margin: 25px;
  background-color: #edf2fb;
  border-radius: 10px;
  /* font size and name */
  font-family: "Blinker";
  font-size: 20px;
  /* text color */
  color: #6f4518;
  /* position of paragraph */
  position: absolute;
  top: 400px;
  left: 700px;
}
/* paragraph characteristics */
.paragraph-about2{
  padding: 8px;
  margin: 25px;
  background-color: #edf2fb;
  border-radius: 10px;
  /* font size and name */
  font-family: "Blinker";
  font-size: 20px;
  /* text color */
  color: #6f4518;
  /* position of paragraph */
  position: absolute;
  top: 600px;
  left: 700px;
}
/* paragraph characteristics */
.paragraph-info{
  padding: 8px;
  margin: 25px;
  background-color: #edf2fb;
  border-radius: 10px;
  font-family: "Blinker";
  font-size: 20px;
  color: #6f4518;
}
/* button characteristics */
button{
  background-color: #edf2fb;
  font-size: 15px;
  color: #6f4518;
  font-family: "Blinker";
  padding: 8px;
  margin: 25px;
  border-radius: 10px;
}
